{
  "openapi": "3.1.0",
  "info": {
    "title": "Sapient Public API",
    "description": "Public API for Sapient CLI and external integrations.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-public.usesapient.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/status": {
      "get": {
        "tags": [
          "status"
        ],
        "summary": "Get Status",
        "operationId": "status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/auth/status": {
      "get": {
        "tags": [
          "status"
        ],
        "summary": "Get Auth Status",
        "operationId": "auth_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/prompts": {
      "get": {
        "tags": [
          "prompts"
        ],
        "summary": "List Prompts",
        "operationId": "prompts_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "topic_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Topic Id"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Is Active"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^(active|inactive|archived)$"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Archived"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPromptsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.list"
      },
      "post": {
        "tags": [
          "prompts"
        ],
        "summary": "Create Prompts",
        "operationId": "prompts_create",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicPromptsBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPromptBatchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.create"
      }
    },
    "/v1/prompts/config": {
      "get": {
        "tags": [
          "prompts"
        ],
        "summary": "Retrieve Prompt Config",
        "operationId": "prompts_config_retrieve",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPromptConfigResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "x-stainless-method": "prompts.config.retrieve"
      }
    },
    "/v1/prompts/topics": {
      "post": {
        "tags": [
          "prompts"
        ],
        "summary": "Create Topic",
        "operationId": "prompts_topics_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePromptTopicRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPromptTopic"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "x-stainless-method": "prompts.topics.create"
      }
    },
    "/v1/prompts/topics/{topic_id}": {
      "patch": {
        "tags": [
          "prompts"
        ],
        "summary": "Update Topic",
        "operationId": "prompts_topics_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "topic_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Topic Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptTopicRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPromptTopic"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.topics.update"
      },
      "delete": {
        "tags": [
          "prompts"
        ],
        "summary": "Delete Topic",
        "operationId": "prompts_topics_delete",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "topic_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Topic Id"
            }
          },
          {
            "name": "archive_prompts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Archive Prompts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicOkResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.topics.delete"
      }
    },
    "/v1/prompts/actions": {
      "get": {
        "tags": [
          "prompts"
        ],
        "summary": "List Prompt Actionables",
        "operationId": "prompts_actions_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Since"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Start Date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "End Date"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "quick_wins",
                    "growth",
                    "refresh",
                    "citations"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "opportunity_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "almost_winning",
                    "negative_sentiment",
                    "lost_wins",
                    "competitor_gaps",
                    "untapped_topics",
                    "platform_blind_spots",
                    "content_gaps",
                    "declining_visibility",
                    "volatile_visibility",
                    "citation_gaps",
                    "high_citation_sources",
                    "listicle_targets"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Opportunity Type"
            }
          },
          {
            "name": "topic_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Topic Id"
            }
          },
          {
            "name": "prompt_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Prompt Ids"
            }
          },
          {
            "name": "include_cited_pages",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Include Cited Pages"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "cited_pages_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Cited Pages Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptActionablesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.actions.list"
      }
    },
    "/v1/prompts/{prompt_id}": {
      "get": {
        "tags": [
          "prompts"
        ],
        "summary": "Retrieve Prompt",
        "operationId": "prompts_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "prompt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPrompt"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.retrieve"
      },
      "patch": {
        "tags": [
          "prompts"
        ],
        "summary": "Update Prompt",
        "operationId": "prompts_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "prompt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePublicPromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPrompt"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.update"
      },
      "delete": {
        "tags": [
          "prompts"
        ],
        "summary": "Delete Prompt",
        "operationId": "prompts_delete",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "prompt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicOkResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.delete"
      }
    },
    "/v1/api-performance/results": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Results",
        "operationId": "api_performance_results_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          },
          {
            "name": "integration_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Integration Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "include_docs_audit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Docs Audit"
            }
          },
          {
            "name": "docs_audit_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 500,
              "title": "Docs Audit Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPerformanceResultsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.results.retrieve"
      }
    },
    "/v1/api-performance/runs": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Eval Runs",
        "operationId": "api_performance_runs_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Since"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.runs.list"
      }
    },
    "/v1/api-performance/runs/{run_id}": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Eval Run",
        "operationId": "api_performance_runs_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.runs.retrieve"
      }
    },
    "/v1/api-performance/diagnose": {
      "post": {
        "tags": [
          "api-performance"
        ],
        "summary": "Diagnose Eval Runs",
        "operationId": "api_performance_diagnose",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiagnoseEvalRunsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnoseEvalRunsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.diagnose"
      }
    },
    "/v1/api-performance/config": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Eval Config",
        "operationId": "api_performance_config_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          },
          {
            "name": "integration_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Integration Id"
            }
          },
          {
            "name": "config_scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "const": "custom_evals",
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Config Scope"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvalConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.config.retrieve"
      },
      "put": {
        "tags": [
          "api-performance"
        ],
        "summary": "Update Eval Config",
        "operationId": "api_performance_config_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicEvalConfigUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvalConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.config.update"
      }
    },
    "/v1/api-performance/sources": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Sources",
        "operationId": "api_performance_sources_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          },
          {
            "name": "include_system",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include System"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPerformanceSourcesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.sources.list"
      }
    },
    "/v1/api-performance/skills": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Skills",
        "operationId": "api_performance_skills_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          },
          {
            "name": "integration_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Integration Id"
            }
          },
          {
            "name": "source_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Source Id"
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "default": true,
              "title": "Enabled"
            }
          },
          {
            "name": "stale",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "default": false,
              "title": "Stale"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPerformanceSkillsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.skills.list"
      }
    },
    "/v1/api-performance/evals": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Eval Definitions",
        "operationId": "api_performance_evals_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          },
          {
            "name": "integration_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Integration Id"
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Enabled"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvalDefinitionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.evals.list"
      }
    },
    "/v1/api-performance/evals/{eval_id}": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Eval Definition",
        "operationId": "api_performance_evals_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Eval Id"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvalDefinition"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.evals.retrieve"
      },
      "patch": {
        "tags": [
          "api-performance"
        ],
        "summary": "Update Eval Definition",
        "operationId": "api_performance_evals_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Eval Id"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicEvalDefinitionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvalDefinition"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.evals.update"
      }
    },
    "/v1/api-performance/custom-evals": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Custom Evals",
        "operationId": "api_performance_custom_evals_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomEvalsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.custom_evals.list"
      },
      "post": {
        "tags": [
          "api-performance"
        ],
        "summary": "Create Custom Eval",
        "operationId": "api_performance_custom_evals_create",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCustomEvalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomEval"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.custom_evals.create"
      }
    },
    "/v1/api-performance/custom-evals/{custom_eval_id}": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Custom Eval",
        "operationId": "api_performance_custom_evals_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "custom_eval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Custom Eval Id"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomEval"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.custom_evals.retrieve"
      },
      "patch": {
        "tags": [
          "api-performance"
        ],
        "summary": "Update Custom Eval",
        "operationId": "api_performance_custom_evals_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "custom_eval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Custom Eval Id"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCustomEvalUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomEval"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.custom_evals.update"
      },
      "delete": {
        "tags": [
          "api-performance"
        ],
        "summary": "Delete Custom Eval",
        "operationId": "api_performance_custom_evals_delete",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "custom_eval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Custom Eval Id"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomEval"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.custom_evals.delete"
      }
    },
    "/v1/api-performance/starter-projects": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Starter Projects",
        "operationId": "api_performance_starter_projects_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          },
          {
            "name": "integration_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Integration Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStartingProjectsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.starter_projects.list"
      },
      "post": {
        "tags": [
          "api-performance"
        ],
        "summary": "Create Starter Project",
        "operationId": "api_performance_starter_projects_create",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicStartingProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStartingProject"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.starter_projects.create"
      }
    },
    "/v1/api-performance/starter-projects/{starter_project_id}": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Starter Project",
        "operationId": "api_performance_starter_projects_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "starter_project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Starter Project Id"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStartingProject"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.starter_projects.retrieve"
      },
      "patch": {
        "tags": [
          "api-performance"
        ],
        "summary": "Update Starter Project",
        "operationId": "api_performance_starter_projects_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "starter_project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Starter Project Id"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicStartingProjectUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStartingProject"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.starter_projects.update"
      },
      "delete": {
        "tags": [
          "api-performance"
        ],
        "summary": "Delete Starter Project",
        "operationId": "api_performance_starter_projects_delete",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "starter_project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Starter Project Id"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStartingProject"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.starter_projects.delete"
      }
    },
    "/v1/api-performance/actions": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Actions",
        "operationId": "api_performance_actions_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          },
          {
            "name": "integration_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Integration Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "action_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Action Type"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Priority"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 100,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPerformanceActionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.actions.list"
      }
    },
    "/v1/api-performance/actions/refresh": {
      "post": {
        "tags": [
          "api-performance"
        ],
        "summary": "Refresh Actions",
        "operationId": "api_performance_actions_refresh",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRefreshActionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRefreshActionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.actions.refresh"
      }
    },
    "/v1/api-performance/actions/{action_id}": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Action",
        "operationId": "api_performance_actions_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Action Id"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          },
          {
            "name": "include_prompt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Prompt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicActionDetailResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.actions.retrieve"
      },
      "patch": {
        "tags": [
          "api-performance"
        ],
        "summary": "Update Action",
        "operationId": "api_performance_actions_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Action Id"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicUpdateActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicActionDetailResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.actions.update"
      }
    },
    "/v1/api-performance/actions/{action_id}/verify": {
      "post": {
        "tags": [
          "api-performance"
        ],
        "summary": "Verify Action",
        "operationId": "api_performance_actions_verify",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Action Id"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand.",
              "title": "Brand"
            },
            "description": "Optional brand name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicVerifyActionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.actions.verify"
      }
    }
  },
  "components": {
    "schemas": {
      "CreatePromptTopicRequest": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120,
            "minLength": 1,
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "CreatePromptTopicRequest"
      },
      "CreatePublicPromptRequest": {
        "properties": {
          "topic_id": {
            "type": "string",
            "title": "Topic Id"
          },
          "text": {
            "type": "string",
            "minLength": 1,
            "title": "Text"
          },
          "platform_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Platform Ids"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "topic_id",
          "text"
        ],
        "title": "CreatePublicPromptRequest"
      },
      "CreatePublicPromptsBatchRequest": {
        "properties": {
          "prompts": {
            "items": {
              "$ref": "#/components/schemas/CreatePublicPromptRequest"
            },
            "type": "array",
            "maxItems": 100,
            "minItems": 1,
            "title": "Prompts"
          }
        },
        "type": "object",
        "required": [
          "prompts"
        ],
        "title": "CreatePublicPromptsBatchRequest"
      },
      "DiagnoseEvalRunsRequest": {
        "properties": {
          "company": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Company",
            "description": "Optional company name, domain, brand ID, or org brand ID. Omit when the API key resolves to one brand."
          },
          "since": {
            "type": "string",
            "title": "Since",
            "description": "Lookback window, such as 20d, 72h, or an ISO timestamp.",
            "default": "20d"
          },
          "format": {
            "type": "string",
            "enum": [
              "json",
              "markdown",
              "md"
            ],
            "title": "Format",
            "description": "Report format to include in the response.",
            "default": "json"
          },
          "include_examples": {
            "type": "boolean",
            "title": "Include Examples",
            "default": true
          },
          "max_examples": {
            "type": "integer",
            "maximum": 50.0,
            "minimum": 1.0,
            "title": "Max Examples",
            "default": 10
          }
        },
        "type": "object",
        "title": "DiagnoseEvalRunsRequest"
      },
      "DiagnoseEvalRunsResponse": {
        "properties": {
          "company": {
            "$ref": "#/components/schemas/PublicCompany"
          },
          "since": {
            "type": "string",
            "title": "Since"
          },
          "summary": {
            "$ref": "#/components/schemas/DiagnosisSummary"
          },
          "failure_analysis": {
            "$ref": "#/components/schemas/FailureAnalysisSnapshot"
          },
          "examples": {
            "items": {
              "$ref": "#/components/schemas/EvalRunDetail"
            },
            "type": "array",
            "title": "Examples"
          },
          "markdown": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Markdown"
          }
        },
        "type": "object",
        "required": [
          "company",
          "since",
          "summary",
          "failure_analysis"
        ],
        "title": "DiagnoseEvalRunsResponse"
      },
      "DiagnosisSummary": {
        "properties": {
          "total_runs": {
            "type": "integer",
            "title": "Total Runs",
            "default": 0
          },
          "failed_runs": {
            "type": "integer",
            "title": "Failed Runs",
            "default": 0
          },
          "passed_runs": {
            "type": "integer",
            "title": "Passed Runs",
            "default": 0
          },
          "failure_rate": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failure Rate"
          },
          "top_failed_endpoints": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Top Failed Endpoints"
          },
          "top_failed_models": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Top Failed Models"
          },
          "top_failure_reasons": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Top Failure Reasons"
          }
        },
        "type": "object",
        "title": "DiagnosisSummary"
      },
      "EvalRunDetail": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "endpoint": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PublicEndpoint"
              },
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Endpoint"
          },
          "eval_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Eval Type"
          },
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model"
          },
          "model_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model Type"
          },
          "platform": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Platform"
          },
          "passed": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed"
          },
          "score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Score"
          },
          "failure_reasons": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failure Reasons"
          },
          "latency_ms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latency Ms"
          },
          "run_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Run At"
          },
          "prompt_sent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Prompt Sent"
          },
          "response_text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response Text"
          },
          "execution_stdout": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Execution Stdout"
          },
          "execution_stderr": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Execution Stderr"
          },
          "exit_code": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Exit Code"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Calls"
          },
          "raw": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Raw"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "EvalRunDetail"
      },
      "EvalRunResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/EvalRunDetail"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "EvalRunResponse"
      },
      "EvalRunSummary": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "endpoint": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PublicEndpoint"
              },
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Endpoint"
          },
          "eval_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Eval Type"
          },
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model"
          },
          "model_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model Type"
          },
          "platform": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Platform"
          },
          "passed": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed"
          },
          "score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Score"
          },
          "failure_reasons": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failure Reasons"
          },
          "latency_ms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latency Ms"
          },
          "run_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Run At"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "EvalRunSummary"
      },
      "EvalRunsListResponse": {
        "properties": {
          "company": {
            "$ref": "#/components/schemas/PublicCompany"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/EvalRunSummary"
            },
            "type": "array",
            "title": "Data"
          },
          "meta": {
            "$ref": "#/components/schemas/PublicListMeta"
          }
        },
        "type": "object",
        "required": [
          "company",
          "data",
          "meta"
        ],
        "title": "EvalRunsListResponse"
      },
      "FailureAnalysisSnapshot": {
        "properties": {
          "total_runs": {
            "type": "integer",
            "title": "Total Runs",
            "default": 0
          },
          "failed_runs": {
            "type": "integer",
            "title": "Failed Runs",
            "default": 0
          },
          "failure_rate": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failure Rate"
          },
          "patterns": {
            "items": {
              "$ref": "#/components/schemas/FailurePatternSnapshot"
            },
            "type": "array",
            "title": "Patterns"
          },
          "top_failure_reasons": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Top Failure Reasons"
          },
          "endpoints_by_failure_count": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Endpoints By Failure Count"
          }
        },
        "type": "object",
        "title": "FailureAnalysisSnapshot"
      },
      "FailurePatternSnapshot": {
        "properties": {
          "pattern": {
            "type": "string",
            "title": "Pattern"
          },
          "label": {
            "type": "string",
            "title": "Label"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          },
          "percentage": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Percentage"
          },
          "severity": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Severity"
          },
          "example_reasons": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Example Reasons"
          },
          "affected_endpoints": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Affected Endpoints"
          },
          "affected_models": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Affected Models"
          },
          "run_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Run Ids"
          }
        },
        "type": "object",
        "required": [
          "pattern",
          "label",
          "count"
        ],
        "title": "FailurePatternSnapshot"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ListPromptsResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/PublicPrompt"
            },
            "type": "array",
            "title": "Data"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          }
        },
        "type": "object",
        "required": [
          "data",
          "count"
        ],
        "title": "ListPromptsResponse"
      },
      "PromptActionablesResponse": {
        "properties": {
          "start_date": {
            "type": "string",
            "title": "Start Date"
          },
          "end_date": {
            "type": "string",
            "title": "End Date"
          },
          "opportunities": {
            "items": {
              "$ref": "#/components/schemas/PublicPromptOpportunity"
            },
            "type": "array",
            "title": "Opportunities"
          },
          "opportunity_count": {
            "type": "integer",
            "title": "Opportunity Count"
          },
          "cited_pages": {
            "items": {
              "$ref": "#/components/schemas/PublicCitedPage"
            },
            "type": "array",
            "title": "Cited Pages"
          },
          "cited_page_count": {
            "type": "integer",
            "title": "Cited Page Count"
          },
          "summary": {
            "additionalProperties": true,
            "type": "object",
            "title": "Summary"
          }
        },
        "type": "object",
        "required": [
          "start_date",
          "end_date",
          "opportunity_count",
          "cited_page_count"
        ],
        "title": "PromptActionablesResponse"
      },
      "PromptBatchError": {
        "properties": {
          "index": {
            "type": "integer",
            "title": "Index"
          },
          "text": {
            "type": "string",
            "title": "Text"
          },
          "error": {
            "type": "string",
            "title": "Error"
          }
        },
        "type": "object",
        "required": [
          "index",
          "text",
          "error"
        ],
        "title": "PromptBatchError"
      },
      "PublicActionDetailResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PublicApiPerformanceAction"
          },
          "prompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Prompt"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "PublicActionDetailResponse"
      },
      "PublicApiEvalTarget": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "org_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Org Id"
          },
          "brand_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Brand Id"
          },
          "integration_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Integration Id"
          },
          "target_type": {
            "type": "string",
            "enum": [
              "text",
              "agent"
            ],
            "title": "Target Type"
          },
          "execution_platform": {
            "type": "string",
            "title": "Execution Platform"
          },
          "model_id": {
            "type": "string",
            "title": "Model Id"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "every_other_day",
              "weekly",
              "manual"
            ],
            "title": "Frequency",
            "default": "daily"
          },
          "enabled": {
            "type": "boolean",
            "title": "Enabled",
            "default": true
          },
          "next_run_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Run At"
          },
          "last_run_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Run At"
          },
          "last_skipped_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Skipped At"
          },
          "skip_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Skip Reason"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "updated_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated At"
          }
        },
        "type": "object",
        "required": [
          "target_type",
          "execution_platform",
          "model_id"
        ],
        "title": "PublicApiEvalTarget"
      },
      "PublicApiPerformanceAction": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "brand_id": {
            "type": "string",
            "title": "Brand Id"
          },
          "integration_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Integration Id"
          },
          "action_type": {
            "type": "string",
            "title": "Action Type"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "priority": {
            "type": "string",
            "title": "Priority"
          },
          "confidence": {
            "type": "number",
            "title": "Confidence"
          },
          "effort": {
            "type": "string",
            "title": "Effort"
          },
          "title": {
            "type": "string",
            "title": "Title"
          },
          "description": {
            "type": "string",
            "title": "Description"
          },
          "primary_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Primary Url"
          },
          "affected_urls": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Affected Urls"
          },
          "evidence": {
            "additionalProperties": true,
            "type": "object",
            "title": "Evidence"
          },
          "recommendation": {
            "additionalProperties": true,
            "type": "object",
            "title": "Recommendation"
          },
          "impact": {
            "additionalProperties": true,
            "type": "object",
            "title": "Impact"
          },
          "source": {
            "type": "string",
            "title": "Source"
          },
          "fingerprint": {
            "type": "string",
            "title": "Fingerprint"
          },
          "owner_user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Owner User Id"
          },
          "ignored_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ignored Reason"
          },
          "first_seen_at": {
            "anyOf": [
              {
                "type": "string"
[...]
