{
  "openapi": "3.1.0",
  "info": {
    "title": "Sapient Public API",
    "description": "Public API for Sapient CLI and external integrations.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-public.usesapient.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/status": {
      "get": {
        "tags": [
          "status"
        ],
        "summary": "Get Status",
        "operationId": "status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/auth/status": {
      "get": {
        "tags": [
          "status"
        ],
        "summary": "Get Auth Status",
        "operationId": "auth_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/prompts": {
      "get": {
        "tags": [
          "prompts"
        ],
        "summary": "List Prompts",
        "operationId": "prompts_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "topic_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Topic Id"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Is Active"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(active|inactive|archived)$",
              "title": "Status"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Archived"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPromptsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.list"
      },
      "post": {
        "tags": [
          "prompts"
        ],
        "summary": "Create Prompts",
        "operationId": "prompts_create",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicPromptsBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPromptBatchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.create"
      }
    },
    "/v1/prompts/config": {
      "get": {
        "tags": [
          "prompts"
        ],
        "summary": "Retrieve Prompt Config",
        "operationId": "prompts_config_retrieve",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPromptConfigResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "x-stainless-method": "prompts.config.retrieve"
      }
    },
    "/v1/prompts/topics": {
      "post": {
        "tags": [
          "prompts"
        ],
        "summary": "Create Topic",
        "operationId": "prompts_topics_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePromptTopicRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPromptTopic"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "x-stainless-method": "prompts.topics.create"
      }
    },
    "/v1/prompts/topics/{topic_id}": {
      "patch": {
        "tags": [
          "prompts"
        ],
        "summary": "Update Topic",
        "operationId": "prompts_topics_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "topic_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Topic Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptTopicRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPromptTopic"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.topics.update"
      },
      "delete": {
        "tags": [
          "prompts"
        ],
        "summary": "Delete Topic",
        "operationId": "prompts_topics_delete",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "topic_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Topic Id"
            }
          },
          {
            "name": "archive_prompts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Archive Prompts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicOkResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.topics.delete"
      }
    },
    "/v1/prompts/actions": {
      "get": {
        "tags": [
          "prompts"
        ],
        "summary": "List Prompt Actionables",
        "operationId": "prompts_actions_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Since"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Start Date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "End Date"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "cited_pages",
                "opportunities",
                "all"
              ],
              "type": "string",
              "default": "all",
              "title": "Tag"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "quick_wins",
                "growth",
                "refresh",
                "citations"
              ],
              "type": "string",
              "title": "Category"
            }
          },
          {
            "name": "opportunity_type",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "almost_winning",
                "negative_sentiment",
                "lost_wins",
                "competitor_gaps",
                "untapped_topics",
                "platform_blind_spots",
                "content_gaps",
                "declining_visibility",
                "volatile_visibility",
                "citation_gaps",
                "high_citation_sources",
                "listicle_targets"
              ],
              "type": "string",
              "title": "Opportunity Type"
            }
          },
          {
            "name": "topic_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Topic Id"
            }
          },
          {
            "name": "prompt_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Prompt Ids"
            }
          },
          {
            "name": "include_cited_pages",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Include Cited Pages"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "cited_pages_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Cited Pages Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptActionablesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.actions.list"
      }
    },
    "/v1/prompts/{prompt_id}": {
      "get": {
        "tags": [
          "prompts"
        ],
        "summary": "Retrieve Prompt",
        "operationId": "prompts_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "prompt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPrompt"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.retrieve"
      },
      "patch": {
        "tags": [
          "prompts"
        ],
        "summary": "Update Prompt",
        "operationId": "prompts_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "prompt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePublicPromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPrompt"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.update"
      },
      "delete": {
        "tags": [
          "prompts"
        ],
        "summary": "Delete Prompt",
        "operationId": "prompts_delete",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "prompt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicOkResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "prompts.delete"
      }
    },
    "/v1/eval-runs": {
      "post": {
        "tags": [
          "eval-runs"
        ],
        "summary": "Create Eval Run",
        "description": "Start a durable eval run and return the parent job ID to poll.\n\nFor prompt evals, provide explicit `targets` to override the configured\nprompt targets, or omit `targets` to use the organization's configured\nscheduled prompt targets. For API Performance evals, explicit `targets` or\n`models` override the stored configuration; when omitted, Sapient uses\nconfigured scheduled targets or legacy configured models. Custom eval runs\nuse `custom_eval_ids` when provided, otherwise the configured custom eval\nset for the organization.\n\nFor API Performance source types backed by a source (`rest_api`, `sdk`, or\n`cli`), provide `source_id` from `api-performance sources list`, or omit it\nwhen `operation_ids`, `eval_ids`, or the requested `source_type` identify a\nsingle source. `operation_ids` are Sapient API Performance operation IDs,\nnot OpenAPI operationId strings.\n\nEvery run is queued through the durable job queue. The response `id` is the\n`eval_run_id` to pass to `GET /v1/eval-runs/{eval_run_id}`. When Sapient can\ndetermine the runnable work, the response also includes `dispatch_id` and\ninitial queued progress for the child jobs.",
        "operationId": "eval_runs_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PublicPromptEvalRunRequest"
                  },
                  {
                    "$ref": "#/components/schemas/PublicApiPerformanceEvalRunRequest"
                  }
                ],
                "title": "Request",
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "prompts": "#/components/schemas/PublicPromptEvalRunRequest",
                    "api_performance": "#/components/schemas/PublicApiPerformanceEvalRunRequest"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvalRunResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is valid, but Sapient could not determine what to run from either the request payload or saved configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail"
                  ]
                },
                "examples": {
                  "missing_prompt_targets": {
                    "summary": "No configured prompt targets",
                    "value": {
                      "detail": "No configured prompt targets were found for this organization. Configure prompt targets first or include targets in the request."
                    }
                  },
                  "missing_api_performance_targets": {
                    "summary": "No configured API Performance targets",
                    "value": {
                      "detail": "No configured API Performance targets or models were found for cli. Configure eval targets for this source or include targets/models in the request."
                    }
                  },
                  "ambiguous_api_performance_source": {
                    "summary": "API Performance source is ambiguous",
                    "value": {
                      "detail": "source_id is required for source_type=cli unless operation_ids or eval_ids identify a single source. Get source IDs from api-performance sources list or api-performance evals list."
                    }
                  },
                  "missing_custom_eval_ids": {
                    "summary": "No configured custom evals",
                    "value": {
                      "detail": "No custom eval IDs were provided and no configured custom evals were found for this organization. Configure custom evals or include custom_eval_ids in the request."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "x-stainless-method": "eval_runs.create"
      }
    },
    "/v1/eval-runs/{eval_run_id}": {
      "get": {
        "tags": [
          "eval-runs"
        ],
        "summary": "Retrieve Eval Run",
        "description": "Retrieve status and progress for a durable eval run.\n\nThe `eval_run_id` is the `id` returned by `POST /v1/eval-runs`. Progress is\ncomputed from the parent job, its dispatch, and child jobs.",
        "operationId": "eval_runs_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "eval_run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Eval Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvalRunResponse"
                }
              }
            }
          },
          "404": {
            "description": "The eval run does not exist or is not visible to this API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                },
                "example": {
                  "detail": "Eval run not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "eval_runs.retrieve"
      }
    },
    "/v1/api-performance/targets": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Targets",
        "operationId": "api_performance_targets_list",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPerformanceTargetsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "x-stainless-method": "api_performance.targets.list"
      }
    },
    "/v1/api-performance/runs": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Eval Runs",
        "operationId": "api_performance_runs_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Since"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.runs.list"
      }
    },
    "/v1/api-performance/runs/{run_id}": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Eval Run",
        "operationId": "api_performance_runs_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.runs.retrieve"
      }
    },
    "/v1/api-performance/diagnose": {
      "post": {
        "tags": [
          "api-performance"
        ],
        "summary": "Diagnose Eval Runs",
        "operationId": "api_performance_diagnose",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiagnoseEvalRunsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnoseEvalRunsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "x-stainless-method": "api_performance.diagnose"
      }
    },
    "/v1/api-performance/config": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Eval Config",
        "operationId": "api_performance_config_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Source Id"
            }
          },
          {
            "name": "config_scope",
            "in": "query",
            "required": false,
            "schema": {
              "const": "custom_evals",
              "type": "string",
              "title": "Config Scope"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvalConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.config.retrieve"
      },
      "put": {
        "tags": [
          "api-performance"
        ],
        "summary": "Update Eval Config",
        "operationId": "api_performance_config_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "config_scope",
            "in": "query",
            "required": false,
            "schema": {
              "const": "custom_evals",
              "type": "string",
              "title": "Config Scope"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicEvalConfigUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvalConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.config.update"
      }
    },
    "/v1/api-performance/sources": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Sources",
        "operationId": "api_performance_sources_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "include_system",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include System"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPerformanceSourcesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.sources.list"
      }
    },
    "/v1/api-performance/skills": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Skills",
        "operationId": "api_performance_skills_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Source Id"
            }
          },
          {
            "name": "skill_source_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Skill Source Id"
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Enabled"
            }
          },
          {
            "name": "stale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Stale"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPerformanceSkillsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.skills.list"
      }
    },
    "/v1/api-performance/evals": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Eval Definitions",
        "operationId": "api_performance_evals_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Source Id"
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Enabled"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvalDefinitionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.evals.list"
      }
    },
    "/v1/api-performance/evals/{eval_id}": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Eval Definition",
        "operationId": "api_performance_evals_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Eval Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvalDefinition"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.evals.retrieve"
      },
      "patch": {
        "tags": [
          "api-performance"
        ],
        "summary": "Update Eval Definition",
        "operationId": "api_performance_evals_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "eval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Eval Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicEvalDefinitionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEvalDefinition"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.evals.update"
      }
    },
    "/v1/api-performance/custom-evals": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Custom Evals",
        "operationId": "api_performance_custom_evals_list",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomEvalsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "x-stainless-method": "api_performance.custom_evals.list"
      },
      "post": {
        "tags": [
          "api-performance"
        ],
        "summary": "Create Custom Eval",
        "operationId": "api_performance_custom_evals_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCustomEvalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomEval"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "x-stainless-method": "api_performance.custom_evals.create"
      }
    },
    "/v1/api-performance/custom-evals/history": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Custom Eval History",
        "description": "List custom eval history rows for the organization.\n\nUse `custom_eval_id` to retrieve the evaluated run history for one custom\neval prompt. The public API hides infrastructure-error rows, matching the\nnon-admin dashboard behavior.",
        "operationId": "api_performance_custom_evals_history_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "custom_eval_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional custom eval ID to filter history rows.",
              "title": "Custom Eval Id"
            },
            "description": "Optional custom eval ID to filter history rows."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200,
              "title": "Search"
            }
          },
          {
            "name": "result_filter",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "all",
                "passed",
                "failed"
              ],
              "type": "string",
              "default": "all",
              "title": "Result Filter"
            }
          },
          {
            "name": "target_key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Target Key"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Category Id"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "time",
                "use_case",
                "target",
                "result",
                "score",
                "tool_calls",
                "latency"
              ],
              "type": "string",
              "default": "time",
              "title": "Sort By"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "default": "desc",
              "title": "Sort Dir"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomEvalHistoryResponse"
                }
              }
            }
          },
          "404": {
            "description": "The organization does not have a configured API Performance scope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                },
                "examples": {
                  "organization_not_configured": {
                    "summary": "Organization configuration not found",
                    "value": {
                      "detail": "Configured API Performance scope not found for this organization"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.custom_evals.history.list"
      }
    },
    "/v1/api-performance/custom-evals/{custom_eval_id}": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Custom Eval",
        "operationId": "api_performance_custom_evals_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "custom_eval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Custom Eval Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomEval"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.custom_evals.retrieve"
      },
      "patch": {
        "tags": [
          "api-performance"
        ],
        "summary": "Update Custom Eval",
        "operationId": "api_performance_custom_evals_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "custom_eval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Custom Eval Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCustomEvalUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomEval"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.custom_evals.update"
      },
      "delete": {
        "tags": [
          "api-performance"
        ],
        "summary": "Delete Custom Eval",
        "operationId": "api_performance_custom_evals_delete",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "custom_eval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Custom Eval Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomEval"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.custom_evals.delete"
      }
    },
    "/v1/api-performance/starter-projects": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Starter Projects",
        "operationId": "api_performance_starter_projects_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Source Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStartingProjectsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.starter_projects.list"
      },
      "post": {
        "tags": [
          "api-performance"
        ],
        "summary": "Create Starter Project",
        "operationId": "api_performance_starter_projects_create",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicStartingProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStartingProject"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.starter_projects.create"
      }
    },
    "/v1/api-performance/starter-projects/{starter_project_id}": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Starter Project",
        "operationId": "api_performance_starter_projects_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "starter_project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Starter Project Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStartingProject"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.starter_projects.retrieve"
      },
      "patch": {
        "tags": [
          "api-performance"
        ],
        "summary": "Update Starter Project",
        "operationId": "api_performance_starter_projects_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "starter_project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Starter Project Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicStartingProjectUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStartingProject"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.starter_projects.update"
      },
      "delete": {
        "tags": [
          "api-performance"
        ],
        "summary": "Delete Starter Project",
        "operationId": "api_performance_starter_projects_delete",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "starter_project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Starter Project Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStartingProject"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.starter_projects.delete"
      }
    },
    "/v1/api-performance/actions": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "List Actions",
        "operationId": "api_performance_actions_list",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Source Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Status"
            }
          },
          {
            "name": "action_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Action Type"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Priority"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 100,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPerformanceActionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.actions.list"
      }
    },
    "/v1/api-performance/actions/refresh": {
      "post": {
        "tags": [
          "api-performance"
        ],
        "summary": "Refresh Actions",
        "operationId": "api_performance_actions_refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRefreshActionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRefreshActionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "x-stainless-method": "api_performance.actions.refresh"
      }
    },
    "/v1/api-performance/actions/{action_id}": {
      "get": {
        "tags": [
          "api-performance"
        ],
        "summary": "Retrieve Action",
        "operationId": "api_performance_actions_retrieve",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Action Id"
            }
          },
          {
            "name": "include_prompt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Prompt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicActionDetailResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.actions.retrieve"
      },
      "patch": {
        "tags": [
          "api-performance"
        ],
        "summary": "Update Action",
        "operationId": "api_performance_actions_update",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Action Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicUpdateActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicActionDetailResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.actions.update"
      }
    },
    "/v1/api-performance/actions/{action_id}/verify": {
      "post": {
        "tags": [
          "api-performance"
        ],
        "summary": "Verify Action",
        "operationId": "api_performance_actions_verify",
        "security": [
          {
            "SapientApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Action Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicVerifyActionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-stainless-method": "api_performance.actions.verify"
      }
    }
  },
  "components": {
    "schemas": {
      "CreatePromptTopicRequest": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120,
            "minLength": 1,
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "CreatePromptTopicRequest"
      },
      "CreatePublicPromptRequest": {
        "properties": {
          "topic_id": {
            "type": "string",
            "title": "Topic Id"
          },
          "text": {
            "type": "string",
            "minLength": 1,
            "title": "Text"
          },
          "platform_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Platform Ids"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "topic_id",
          "text"
        ],
        "title": "CreatePublicPromptRequest"
      },
      "CreatePublicPromptsBatchRequest": {
        "properties": {
          "prompts": {
            "items": {
              "$ref": "#/components/schemas/CreatePublicPromptRequest"
            },
            "type": "array",
            "maxItems": 100,
            "minItems": 1,
            "title": "Prompts"
          }
        },
        "type": "object",
        "required": [
          "prompts"
        ],
        "title": "CreatePublicPromptsBatchRequest"
      },
      "DiagnoseEvalRunsRequest": {
        "properties": {
          "since": {
            "type": "string",
            "title": "Since",
            "description": "Lookback window, such as 20d, 72h, or an ISO timestamp.",
            "default": "20d"
          },
          "format": {
            "type": "string",
            "enum": [
              "json",
              "markdown",
              "md"
            ],
            "title": "Format",
            "description": "Report format to include in the response.",
            "default": "json"
          },
          "include_examples": {
            "type": "boolean",
            "title": "Include Examples",
            "default": true
          },
          "max_examples": {
            "type": "integer",
            "maximum": 50.0,
            "minimum": 1.0,
            "title": "Max Examples",
            "default": 10
          }
        },
        "type": "object",
        "title": "DiagnoseEvalRunsRequest"
      },
      "DiagnoseEvalRunsResponse": {
        "properties": {
          "company": {
            "$ref": "#/components/schemas/PublicCompany"
          },
          "since": {
            "type": "string",
            "title": "Since"
          },
          "summary": {
            "$ref": "#/components/schemas/DiagnosisSummary"
          },
          "failure_analysis": {
            "$ref": "#/components/schemas/FailureAnalysisSnapshot"
          },
          "examples": {
            "items": {
              "$ref": "#/components/schemas/EvalRunDetail"
            },
            "type": "array",
            "title": "Examples"
          },
          "markdown": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Markdown"
          }
        },
        "type": "object",
        "required": [
          "company",
          "since",
          "summary",
          "failure_analysis"
        ],
        "title": "DiagnoseEvalRunsResponse"
      },
      "DiagnosisSummary": {
        "properties": {
          "total_runs": {
            "type": "integer",
            "title": "Total Runs",
            "default": 0
          },
          "failed_runs": {
            "type": "integer",
            "title": "Failed Runs",
            "default": 0
          },
          "passed_runs": {
            "type": "integer",
            "title": "Passed Runs",
            "default": 0
          },
          "failure_rate": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failure Rate"
          },
          "top_failed_endpoints": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Top Failed Endpoints"
          },
          "top_failed_models": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Top Failed Models"
          },
          "top_failure_reasons": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Top Failure Reasons"
          }
        },
        "type": "object",
        "title": "DiagnosisSummary"
      },
      "EvalRunDetail": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "endpoint": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PublicEndpoint"
              },
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Endpoint"
          },
          "source": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/EvalRunSource"
              },
              {
                "type": "null"
              }
            ]
          },
          "eval_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Eval Type"
          },
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model"
          },
          "model_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model Type"
          },
          "platform": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Platform"
          },
          "passed": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed"
          },
          "score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Score"
          },
          "failure_reasons": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failure Reasons"
          },
          "latency_ms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latency Ms"
          },
          "run_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Run At"
          },
          "prompt_sent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Prompt Sent"
          },
          "response_text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response Text"
          },
          "execution_stdout": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Execution Stdout"
          },
          "execution_stderr": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Execution Stderr"
          },
          "exit_code": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Exit Code"
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Calls"
          },
          "raw": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Raw"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "EvalRunDetail"
      },
      "EvalRunResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/EvalRunDetail"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "EvalRunResponse"
      },
      "EvalRunSource": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Type"
          },
          "label": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Label"
          },
          "metadata": {
            "additionalProperties": true,
            "type": "object",
            "title": "Metadata"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "EvalRunSource"
      },
      "EvalRunSummary": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "endpoint": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PublicEndpoint"
              },
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Endpoint"
          },
          "source": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/EvalRunSource"
              },
              {
                "type": "null"
              }
            ]
          },
          "eval_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Eval Type"
          },
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model"
          },
          "model_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model Type"
          },
          "platform": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Platform"
          },
          "passed": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Passed"
          },
          "score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Score"
          },
          "failure_reasons": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failure Reasons"
          },
          "latency_ms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latency Ms"
          },
          "run_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Run At"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "EvalRunSummary"
      },
      "EvalRunsListResponse": {
        "properties": {
          "company": {
            "$ref": "#/components/schemas/PublicCompany"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/EvalRunSummary"
            },
            "type": "array",
            "title": "Data"
          },
          "meta": {
            "$ref": "#/components/schemas/PublicListMeta"
          }
        },
        "type": "object",
        "required": [
          "company",
          "data",
          "meta"
        ],
        "title": "EvalRunsListResponse"
      },
      "FailureAnalysisSnapshot": {
        "properties": {
          "total_runs": {
            "type": "integer",
            "title": "Total Runs",
            "default": 0
          },
          "failed_runs": {
            "type": "integer",
            "title": "Failed Runs",
            "default": 0
          },
          "failure_rate": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failure Rate"
          },
          "patterns": {
            "items": {
              "$ref": "#/components/schemas/FailurePatternSnapshot"
            },
            "type": "array",
            "title": "Patterns"
          },
          "top_failure_reasons": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Top Failure Reasons"
          },
          "endpoints_by_failure_count": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Endpoints By Failure Count"
          }
        },
        "type": "object",
        "title": "FailureAnalysisSnapshot"
      },
      "FailurePatternSnapshot": {
        "properties": {
          "pattern": {
            "type": "string",
            "title": "Pattern"
          },
          "label": {
            "type": "string",
            "title": "Label"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          },
          "percentage": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Percentage"
          },
          "severity": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Severity"
          },
          "example_reasons": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Example Reasons"
          },
          "affected_endpoints": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Affected Endpoints"
          },
          "affected_models": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Affected Models"
          },
          "run_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Run Ids"
          }
        },
        "type": "object",
        "required": [
          "pattern",
          "label",
          "count"
        ],
        "title": "FailurePatternSnapshot"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ListPromptsResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/PublicPrompt"
            },
            "type": "array",
            "title": "Data"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          }
        },
        "type": "object",
        "required": [
          "data",
          "count"
        ],
        "title": "ListPromptsResponse"
      },
      "PromptActionablesResponse": {
        "properties": {
          "start_date": {
            "type": "string",
            "title": "Start Date"
          },
          "end_date": {
            "type": "string",
            "title": "End Date"
          },
          "tag": {
            "type": "string",
            "enum": [
              "cited_pages",
              "opportunities",
              "all"
            ],
            "title": "Tag",
            "default": "all"
          },
          "opportunities": {
            "items": {
              "$ref": "#/components/schemas/PublicPromptOpportunity"
            },
            "type": "array",
            "title": "Opportunities"
          },
          "opportunity_count": {
            "type": "integer",
            "title": "Opportunity Count"
          },
          "cited_pages": {
            "items": {
              "$ref": "#/components/schemas/PublicCitedPage"
            },
            "type": "array",
            "title": "Cited Pages"
          },
          "cited_page_count": {
            "type": "integer",
            "title": "Cited Page Count"
          },
          "summary": {
            "additionalProperties": true,
            "type": "object",
            "title": "Summary"
          }
        },
        "type": "object",
        "required": [
          "start_date",
          "end_date",
          "opportunity_count",
          "cited_page_count"
        ],
        "title": "PromptActionablesResponse"
      },
      "PromptBatchError": {
        "properties": {
          "index": {
            "type": "integer",
            "title": "Index"
          },
          "text": {
            "type": "string",
            "title": "Text"
          },
          "error": {
            "type": "string",
            "title": "Error"
          }
        },
        "type": "object",
        "required": [
          "index",
          "text",
          "error"
        ],
        "title": "PromptBatchError"
      },
      "PublicActionDetailResponse": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PublicApiPerformanceAction"
          },
          "prompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Prompt"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "PublicActionDetailResponse"
      },
      "PublicApiEvalTarget": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "source_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Id"
          },
          "target_type": {
            "type": "string",
            "enum": [
              "text",
              "agent"
            ],
            "title": "Target Type"
          },
          "execution_platform": {
            "type": "string",
            "title": "Execution Platform"
          },
          "model_id": {
            "type": "string",
            "title": "Model Id"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "every_other_day",
              "weekly",
              "manual"
            ],
            "title": "Frequency",
            "default": "daily"
          },
          "enabled": {
            "type": "boolean",
            "title": "Enabled",
            "default": true
          },
          "next_run_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Run At"
          },
          "last_run_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Run At"
          },
          "last_skipped_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Skipped At"
          },
          "skip_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Skip Reason"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "updated_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated At"
          }
        },
        "type": "object",
        "required": [
          "target_type",
          "execution_platform",
          "model_id"
        ],
        "title": "PublicApiEvalTarget"
      },
      "PublicApiPerformanceAction": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "source_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Id"
          },
          "action_type": {
            "type": "string",
            "title": "Action Type"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "priority": {
            "type": "string",
            "title": "Priority"
          },
          "confidence": {
            "type": "number",
            "title": "Confidence"
          },
          "effort": {
            "type": "string",
            "title": "Effort"
          },
          "title": {
            "type": "string",
            "title": "Title"
          },
          "description": {
            "type": "string",
            "title": "Description"
          },
          "primary_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Primary Url"
          },
          "affected_urls": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Affected Urls"
          },
          "evidence": {
            "additionalProperties": true,
            "type": "object",
            "title": "Evidence"
          },
          "recommendation": {
            "additionalProperties": true,
            "type": "object",
            "title": "Recommendation"
          },
          "impact": {
            "additionalProperties": true,
            "type": "object",
            "title": "Impact"
          },
          "source": {
            "type": "string",
            "title": "Source"
          },
          "fingerprint": {
            "type": "string",
            "title": "Fingerprint"
          },
          "owner_user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Owner User Id"
          },
          "ignored_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ignored Reason"
          },
          "first_seen_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "First Seen At"
          },
          "last_seen_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Seen At"
          },
          "resolved_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Resolved At"
          },
          "verified_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Verified At"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "updated_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated At"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id",
          "action_type",
          "status",
          "priority",
          "confidence",
          "effort",
          "title",
          "description",
          "source",
          "fingerprint"
        ],
        "title": "PublicApiPerformanceAction"
      },
      "PublicApiPerformanceActionsResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/PublicApiPerformanceAction"
            },
            "type": "array",
            "title": "Data"
          },
          "counts": {
            "additionalProperties": true,
            "type": "object",
            "title": "Counts"
          },
          "summary": {
            "additionalProperties": true,
            "type": "object",
            "title": "Summary"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "PublicApiPerformanceActionsResponse"
      },
      "PublicApiPerformanceCodingAgent": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "label": {
            "type": "string",
            "title": "Label"
          },
          "platform": {
            "type": "string",
            "title": "Platform"
          },
          "cost_estimate_per_eval": {
            "type": "number",
            "title": "Cost Estimate Per Eval"
          },
          "default_model_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Default Model Id"
          },
          "target": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PublicApiPerformanceTargetSpec"
              },
              {
                "type": "null"
              }
            ]
          },
          "models": {
            "items": {
              "$ref": "#/components/schemas/PublicApiPerformanceCodingAgentModel"
            },
            "type": "array",
            "title": "Models"
          }
        },
        "type": "object",
        "required": [
          "id",
          "label",
          "platform",
          "cost_estimate_per_eval"
        ],
        "title": "PublicApiPerformanceCodingAgent"
      },
      "PublicApiPerformanceCodingAgentModel": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "label": {
            "type": "string",
            "title": "Label"
          },
          "target": {
            "$ref": "#/components/schemas/PublicApiPerformanceTargetSpec"
          }
        },
        "type": "object",
        "required": [
          "id",
          "label",
          "target"
        ],
        "title": "PublicApiPerformanceCodingAgentModel"
      },
      "PublicApiPerformanceEvalRunRequest": {
        "properties": {
          "type": {
            "type": "string",
            "const": "api_performance",
            "title": "Type"
          },
          "source_type": {
            "type": "string",
            "enum": [
              "rest_api",
              "sdk",
              "cli",
              "custom_evals"
            ],
            "title": "Source Type"
          },
          "source_id": {
            "type": "string",
            "title": "Source Id",
            "description": "API Performance source ID from api-performance sources list. Required unless operation_ids, eval_ids, or source_type identify one source."
          },
          "models": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Models",
            "description": "Legacy flat model selection. Prefer targets."
          },
          "targets": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/PublicApiPerformanceEvalRunTarget"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Targets",
            "description": "Explicit text/agent targets to run."
          },
          "categories": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Categories"
          },
          "operation_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Ids",
            "description": "API Performance operation IDs from api-performance evals list."
          },
          "operation_paths": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Paths",
            "description": "Optional METHOD:path filters, such as GET:/v1/items."
          },
          "eval_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Eval Ids",
            "description": "API Performance eval definition IDs from api-performance evals list."
          },
          "custom_eval_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Custom Eval Ids",
            "description": "Custom eval IDs. Used only when source_type is custom_evals."
          },
          "eval_types": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
[...]
